.container{
    display: flex;
    height: 500px;
    flex-wrap: wrap;
}
.laptop{
    border: 3px solid saddlebrown;
    height: 500px;
    width: 300px;
    margin: 10px;
    padding: 9px;
}
.laptop img{
    height: 200px;
    width: 300px;
}
.button{
    margin-top: 10px;
    background-color: brown;
    color: beige;
    border-radius: 5px;
    font-weight: 700;
}
@media (min-width: 1500px) {
    .laptop{
        background-color: yellow;
    }
}
@media (max-width: 800px) {
    .laptop{
        background-color: lawngreen;
    }
}